<a href="https://colab.research.google.com/github/cfccfelipe/AMC/blob/main/p_team_datatonbc_01043116_0d9e_4fd6_8214_5a8a73141428.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
#! wget https://dataton2020train.s3.amazonaws.com/Dataton_train_semicolon.zip

--2021-01-21 03:40:03--  https://dataton2020train.s3.amazonaws.com/Dataton_train_semicolon.zip
Resolving dataton2020train.s3.amazonaws.com (dataton2020train.s3.amazonaws.com)... 52.217.98.140
Connecting to dataton2020train.s3.amazonaws.com (dataton2020train.s3.amazonaws.com)|52.217.98.140|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 984345919 (939M) [application/zip]
Saving to: ‘Dataton_train_semicolon.zip’

Dataton_train_semic 100%[===================>] 938.75M  76.8MB/s    in 12s

2021-01-21 03:40:15 (79.5 MB/s) - ‘Dataton_train_semicolon.zip’ saved [984345919/984345919]

In [ ]:
#! unzip Dataton_train_semicolon.zip

Archive:  Dataton_train_semicolon.zip
  inflating: Dataton_train_semicolon.csv
  inflating: header.txt

In [ ]:
import csv
headerfile = open('header.txt', 'r')
reader = csv.reader(headerfile)
allrows = [row for row in reader]
cols_name = allrows[0]
cols_name

['periodo',
 'id_cli',
 'fecha_nacimiento',
 'edad',
 'genero',
 'estado_civil',
 'nivel_academico',
 'profesion',
 'ocupacion',
 'tipo_vivienda',
 'ult_actual',
 'categoria',
 'codigo_ciiu',
 'ind_mora_vigente',
 'cartera_castigada',
 'ciudad_residencia',
 'departamento_residencia',
 'ciudad_laboral',
 'departamento_laboral',
 'rechazo_credito',
 'mora_max',
 'cant_moras_30_ult_12_meses',
 'cant_moras_60_ult_12_meses',
 'cant_moras_90_ult_12_meses',
 'cupo_total_tc',
 'tenencia_tc',
 'cuota_tc_bancolombia',
 'tiene_consumo',
 'tiene_crediagil',
 'nro_tot_cuentas',
 'ctas_activas',
 'tiene_ctas_activas',
 'ctas_embargadas',
 'tiene_ctas_embargadas',
 'pension_fopep',
 'cuota_cred_hipot',
 'tiene_cred_hipo_1',
 'tiene_cred_hipo_2',
 'mediana_nom3',
 'mediana_pen3',
 'ingreso_nompen',
 'cat_ingreso',
 'ingreso_final',
 'cant_mora_30_tdc_ult_3m_sf',
 'cant_mora_30_consum_ult_3m_sf',
 'cuota_de_vivienda',
 'cuota_de_consumo',
 'cuota_rotativos',
 'cuota_tarjeta_de_credito',
 'cuota_de_sector_solidario',
 'cuota_sector_real_comercio',
 'cupo_tc_mdo',
 'saldo_prom3_tdc_mdo',
 'cuota_tc_mdo',
 'saldo_no_rot_mdo',
 'cuota_libranza_sf',
 'cant_oblig_tot_sf',
 'cant_cast_ult_12m_sr',
 'ind',
 'rep_calif_cred',
 'pol_centr_ext',
 'convenio_lib',
 'ingreso_nomina',
 'ingreso_segurida_social',
 'gasto_familiar']

cols_type = {'periodo': int64,
             'id_cli': int64,
             'fecha_nacimiento': int64,
             'edad': float64,
             'genero': object, 'estado_civil': object,
             'nivel_academico': object,
             'profesion': object,
             'ocupacion': object,
             'tipo_vivienda': object,
             'ult_actual': int64,
             'categoria': int64,
             'codigo_ciiu': int64,
             'ind_mora_vigente': object,
             'cartera_castigada': object,
             'ciudad_residencia': object,
             'departamento_residencia': object,
             'ciudad_laboral': object,
             'departamento_laboral': object,
             'rechazo_credito': object,
             'mora_max': int64,
             'cant_moras_30_ult_12_meses': int64,
             'cant_moras_60_ult_12_meses': int64,
             'cant_moras_90_ult_12_meses': int64,
             'cupo_total_tc': float64,
             'tenencia_tc': object,
             'cuota_tc_bancolombia': float64,
             'tiene_consumo': object,
             'tiene_crediagil': object,
             'nro_tot_cuentas': int64,
             'ctas_activas': int64,
             'tiene_ctas_activas': object,
             'ctas_embargadas': int64,
             'tiene_ctas_embargadas': object,
             'pension_fopep': object,
             'cuota_cred_hipot': float64,
             'tiene_cred_hipo_1': object,
             'tiene_cred_hipo_2': object,
             'mediana_nom3': float64,
             'mediana_pen3': float64,
             'ingreso_nompen': float64,
             'cat_ingreso': object,
             'ingreso_final': float64,
             'cant_mora_30_tdc_ult_3m_sf': float64,
             'cant_mora_30_consum_ult_3m_sf': float64,
             'cuota_de_vivienda': float64,
             'cuota_de_consumo': float64,
             'cuota_rotativos': float64,
             'cuota_tarjeta_de_credito': float64,
             'cuota_de_sector_solidario': float64,
             'cuota_sector_real_comercio': float64,
             'cupo_tc_mdo': float64,
             'saldo_prom3_tdc_mdo': float64,
             'cuota_tc_mdo': float64,
             'saldo_no_rot_mdo': float64,
             'cuota_libranza_sf': float64,
             'cant_oblig_tot_sf': float64,
             'cant_cast_ult_12m_sr': float64,
             'ind': float64,
             'rep_calif_cred': object,
             'pol_centr_ext': float64,
             'convenio_lib': object,
             'ingreso_nomina': float64,
             'ingreso_segurida_social': int64,
             'gasto_familiar': float64}

In [ ]:
df = pd.read_csv('Dataton_train_semicolon.csv', sep=';', names=cols_name, low_memory=False)
df.shape

(20988748, 65)

In [ ]:
# Convirtiendo los \\N de 'edad' en 0.0

df['edad'] = pd.to_numeric(df['edad'], errors='coerce')
df['edad'] = df['edad'].replace(np.nan, 0, regex=True)

In [ ]:
# Eliminando los datos con 'edad' < 18 

indexAges = df[(df['edad'] < 18)].index
df.drop(indexAges , inplace=True)
df.shape

(20982552, 65)

In [ ]:
# Eliminar las filas que contienen los \\N

# Primero convertir los \\N a NaN
df['categoria'] = pd.to_numeric(df['categoria'], errors='coerce')
df['nro_tot_cuentas'] = pd.to_numeric(df['nro_tot_cuentas'], errors='coerce')
df['ctas_activas'] = pd.to_numeric(df['ctas_activas'], errors='coerce')
df['ctas_embargadas'] = pd.to_numeric(df['ctas_embargadas'], errors='coerce')
df['ingreso_final'] = pd.to_numeric(df['ingreso_final'], errors='coerce')
df['ind'] = pd.to_numeric(df['ind'], errors='coerce')

# Luego eliminar los NaN

df.drop(df[df.nro_tot_cuentas.isnull()].index, inplace = True)
df.drop(df[df.ctas_activas.isnull()].index, inplace = True)
df.drop(df[df.ctas_embargadas.isnull()].index, inplace = True)
df.drop(df[df.ingreso_final.isnull()].index, inplace = True)
df.drop(df[df.ind.isnull()].index, inplace = True)

df.shape

(20823707, 65)

In [ ]:
# Convertir los \\N  en 0

# Primero convertir los \\N a NaN
df['mora_max'] = pd.to_numeric(df['mora_max'], errors='coerce')
df['cant_moras_30_ult_12_meses'] = pd.to_numeric(df['cant_moras_30_ult_12_meses'], errors='coerce')
df['cant_moras_60_ult_12_meses'] = pd.to_numeric(df['cant_moras_60_ult_12_meses'], errors='coerce')
df['cant_moras_90_ult_12_meses'] = pd.to_numeric(df['cant_moras_90_ult_12_meses'], errors='coerce')
df['cuota_cred_hipot'] = pd.to_numeric(df['cuota_cred_hipot'], errors='coerce')
df['cant_mora_30_tdc_ult_3m_sf'] = pd.to_numeric(df['cant_mora_30_tdc_ult_3m_sf'], errors='coerce')
df['cant_mora_30_consum_ult_3m_sf'] = pd.to_numeric(df['cant_mora_30_consum_ult_3m_sf'], errors='coerce')
df['cant_oblig_tot_sf'] = pd.to_numeric(df['cant_oblig_tot_sf'], errors='coerce')
df['cant_cast_ult_12m_sr'] = pd.to_numeric(df['cant_cast_ult_12m_sr'], errors='coerce')
df['pol_centr_ext'] = pd.to_numeric(df['pol_centr_ext'], errors='coerce')
df['ingreso_nomina'] = pd.to_numeric(df['ingreso_nomina'], errors='coerce')
df['ingreso_segurida_social'] = pd.to_numeric(df['ingreso_segurida_social'], errors='coerce')

# Convirtiendo los NaN en 0
df['categoria'] = df['categoria'].replace(np.nan, 0, regex=True)
df['mora_max'] = df['mora_max'].replace(np.nan, 0, regex=True)
df['cant_moras_30_ult_12_meses'] = df['cant_moras_30_ult_12_meses'].replace(np.nan, 0, regex=True)
df['cant_moras_60_ult_12_meses'] = df['cant_moras_60_ult_12_meses'].replace(np.nan, 0, regex=True)
df['cant_moras_90_ult_12_meses'] = df['cant_moras_90_ult_12_meses'].replace(np.nan, 0, regex=True)
df['cuota_cred_hipot'] = df['cuota_cred_hipot'].replace(np.nan, 0, regex=True)
df['cant_mora_30_tdc_ult_3m_sf'] = df['cant_mora_30_tdc_ult_3m_sf'].replace(np.nan, 0, regex=True)
df['cant_mora_30_consum_ult_3m_sf'] = df['cant_mora_30_consum_ult_3m_sf'].replace(np.nan, 0, regex=True)
df['cant_oblig_tot_sf'] = df['cant_oblig_tot_sf'].replace(np.nan, 0, regex=True)
df['cant_cast_ult_12m_sr'] = df['cant_cast_ult_12m_sr'].replace(np.nan, 0, regex=True)
df['pol_centr_ext'] = df['pol_centr_ext'].replace(np.nan, 0, regex=True)
df['ingreso_nomina'] = df['ingreso_nomina'].replace(np.nan, 0, regex=True)
df['ingreso_segurida_social'] = df['ingreso_segurida_social'].replace(np.nan, 0, regex=True)

df.shape

(20823707, 65)

In [ ]:
# Convertir de int64 a float64
df['cuota_rotativos'] = df['cuota_rotativos'].astype('float64')
df['cuota_tarjeta_de_credito'] = df['cuota_tarjeta_de_credito'].astype('float64')
df['cuota_de_sector_solidario'] = df['cuota_de_sector_solidario'].astype('float64')
df['cuota_sector_real_comercio'] = df['cuota_sector_real_comercio'].astype('float64')
df['cupo_tc_mdo'] = df['cupo_tc_mdo'].astype('float64')
df['cuota_tc_mdo'] = df['cuota_tc_mdo'].astype('float64')
df['saldo_no_rot_mdo'] = df['saldo_no_rot_mdo'].astype('float64')
df['cuota_libranza_sf'] = df['cuota_libranza_sf'].astype('float64')

# Convertir de float64 a int64
df['categoria'] = df['categoria'].astype('int64')
df['mora_max'] = df['mora_max'].astype('int64')
df['cant_moras_30_ult_12_meses'] = df['cant_moras_30_ult_12_meses'].astype('int64')
df['cant_moras_60_ult_12_meses'] = df['cant_moras_60_ult_12_meses'].astype('int64')
df['cant_moras_90_ult_12_meses'] = df['cant_moras_90_ult_12_meses'].astype('int64')
df['nro_tot_cuentas'] = df['nro_tot_cuentas'].astype('int64')
df['ctas_activas'] = df['ctas_activas'].astype('int64')
df['ctas_embargadas'] = df['ctas_embargadas'].astype('int64')
df['ingreso_segurida_social'] = df['ingreso_segurida_social'].astype('int64')

df.shape

(20823707, 65)

In [ ]:
pd.set_option('display.max_rows', 65)
df.dtypes

periodo                            int64
id_cli                             int64
fecha_nacimiento                   int64
edad                             float64
genero                            object
estado_civil                      object
nivel_academico                   object
profesion                         object
ocupacion                         object
tipo_vivienda                     object
ult_actual                         int64
categoria                          int64
codigo_ciiu                        int64
ind_mora_vigente                  object
cartera_castigada                 object
ciudad_residencia                 object
departamento_residencia           object
ciudad_laboral                    object
departamento_laboral              object
rechazo_credito                   object
mora_max                           int64
cant_moras_30_ult_12_meses         int64
cant_moras_60_ult_12_meses         int64
cant_moras_90_ult_12_meses         int64
cupo_total_tc                    float64
tenencia_tc                       object
cuota_tc_bancolombia             float64
tiene_consumo                     object
tiene_crediagil                   object
nro_tot_cuentas                    int64
ctas_activas                       int64
tiene_ctas_activas                object
ctas_embargadas                    int64
tiene_ctas_embargadas             object
pension_fopep                     object
cuota_cred_hipot                 float64
tiene_cred_hipo_1                 object
tiene_cred_hipo_2                 object
mediana_nom3                     float64
mediana_pen3                     float64
ingreso_nompen                   float64
cat_ingreso                       object
ingreso_final                    float64
cant_mora_30_tdc_ult_3m_sf       float64
cant_mora_30_consum_ult_3m_sf    float64
cuota_de_vivienda                float64
cuota_de_consumo                 float64
cuota_rotativos                  float64
cuota_tarjeta_de_credito         float64
cuota_de_sector_solidario        float64
cuota_sector_real_comercio       float64
cupo_tc_mdo                      float64
saldo_prom3_tdc_mdo              float64
cuota_tc_mdo                     float64
saldo_no_rot_mdo                 float64
cuota_libranza_sf                float64
cant_oblig_tot_sf                float64
cant_cast_ult_12m_sr             float64
ind                              float64
rep_calif_cred                    object
pol_centr_ext                    float64
convenio_lib                      object
ingreso_nomina                   float64
ingreso_segurida_social            int64
gasto_familiar                   float64
dtype: object

In [ ]:
! touch final.csv

In [ ]:
# Tomar solo las columnas numericas

num = (df.dtypes == float) | (df.dtypes == int)
num_cols = [c for c in num.index if num[c]]
df_num = df[num_cols]
df_num.shape

(20823707, 41)

In [ ]:
df_num.isnull().apply(pd.Series.value_counts)

,periodo,id_cli,fecha_nacimiento,edad,ult_actual,categoria,codigo_ciiu,mora_max,cant_moras_30_ult_12_meses,cant_moras_60_ult_12_meses,...,cuota_tc_mdo,saldo_no_rot_mdo,cuota_libranza_sf,cant_oblig_tot_sf,cant_cast_ult_12m_sr,ind,pol_centr_ext,ingreso_nomina,ingreso_segurida_social,gasto_familiar
False,20823707,20823707,20823707,20823707,20823707,20823707,20823707,20823707,20823707,20823707,...,20823707,20823707,20823707,20823707,20823707,20823707,20823707,20823707,20823707,20823707

In [ ]:
df.genero = df.genero.replace({'F': 1, 'M': 2, ' ': 0})

In [ ]:
df['genero'].unique()

array([2, 1, 0])

In [ ]:
# Eliminando los generos == 0

indexGender = df[(df['genero'] == 0)].index
df.drop(indexGender , inplace=True)
df.shape

(20823626, 65)

In [ ]:
df.estado_civil = df.estado_civil.replace({'DIVORCIADO': 1, 'UNION LIBRE': 2, 'SOLTERO': 3, 'NO INFORMA': 4, 'CASADO': 5, 'VIUDO': 6, '\\N': 4, 'OTRO': 4})

In [ ]:
df['estado_civil'].unique()

array([1, 2, 3, 4, 5, 6])

In [ ]:
df.nivel_academico = df.nivel_academico.replace({'TECNOLOGO': 1, 'UNIVERSITARIO': 2, 'BACHILLER': 3, 'NO INFORMA': 4, 'SIN INFORMACION': 4, 'ESPECIALIZACION': 5, 'PRIMARIO': 6, 'NINGUNO': 4})

In [ ]:
df['nivel_academico'].unique()

array([1, 2, 4, 3, 5, 6])

In [ ]:
df.tipo_vivienda = df.tipo_vivienda.replace({'ALQUILADA': 1, 'FAMILIAR': 2, 'PROPIA': 3, 'NO INFORMA': 4, '\\N': 4})

In [ ]:
df['tipo_vivienda'].unique()

array([1, 4, 2, 3])

In [ ]:
df.tenencia_tc = df.tenencia_tc.replace({'NO': 1, 'SI': 2})

In [ ]:
df['tenencia_tc'].unique()

array([1, 2])

In [ ]:
df.cat_ingreso = df.cat_ingreso.replace({'NOM': 1, 'PEN': 2, 'NOM PEN': 3, '\\N': 4})

In [ ]:
df['cat_ingreso'].unique()

array([1, 4, 2, 3])

In [ ]:
x_train = df.loc[:, ['periodo', 'id_cli', 'edad', 'categoria', 'mora_max',
                     'nro_tot_cuentas', 'ctas_activas', 'ctas_embargadas',
                     'ingreso_nompen', 'ind',
                     'ingreso_nomina', 'ingreso_segurida_social', 'genero',
                     'estado_civil', 'nivel_academico', 'tipo_vivienda',
                     'tenencia_tc', 'cat_ingreso'
                    ]].values

# y = gasto_familiar
y_train = df.loc[:, ['gasto_familiar']].values

x_train.shape

(20823626, 18)

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
reg = LinearRegression()
reg.fit(x_train, y_train)

LinearRegression()

In [ ]:
df_base.genero = df_base.genero.replace({'F': 1, 'M': 2, ' ': 0})
# Eliminando los generos == 0

indexGender = df_base[(df_base['genero'] == 0)].index
df_base.drop(indexGender , inplace=True)
df_base.shape

(281666, 65)

In [ ]:
df_base.estado_civil = df_base.estado_civil.replace({'DIVORCIADO': 1, 'UNION LIBRE': 2, 'SOLTERO': 3, 'NO INFORMA': 4, 'CASADO': 5, 'VIUDO': 6, '\\N': 4, 'OTRO': 4})
df_base.nivel_academico = df_base.nivel_academico.replace({'TECNOLOGO': 1, 'UNIVERSITARIO': 2, 'BACHILLER': 3, 'NO INFORMA': 4, 'SIN INFORMACION': 4, 'ESPECIALIZACION': 5, 'PRIMARIO': 6, 'NINGUNO': 4})
df_base.tipo_vivienda = df_base.tipo_vivienda.replace({'ALQUILADA': 1, 'FAMILIAR': 2, 'PROPIA': 3, 'NO INFORMA': 4, '\\N': 4})
df_base.tenencia_tc = df_base.tenencia_tc.replace({'NO': 1, 'SI': 2})
df_base.cat_ingreso = df_base.cat_ingreso.replace({'NOM': 1, 'PEN': 2, 'NOM PEN': 3, '\\N': 4})

In [ ]:
df_base['ind'] = df_base['ind'].replace(np.nan, 0, regex=True)
df_base['ingreso_nomina'] = df_base['ingreso_nomina'].replace(np.nan, 0, regex=True)
df_base['estado_civil'] = df_base['ingreso_nomina'].replace(np.nan, 0, regex=True)
df_base['tipo_vivienda'] = df_base['tipo_vivienda'].replace(np.nan, 0, regex=True)
df_base['cat_ingreso'] = df_base['cat_ingreso'].replace(np.nan, 0, regex=True)

In [ ]:
df_base['cat_ingreso'].unique()

array([nan,  1.,  2.,  3.])

In [ ]:
x_test = df_base.loc[:, ['periodo', 'id_cli', 'edad', 'categoria', 'mora_max',
                     'nro_tot_cuentas', 'ctas_activas', 'ctas_embargadas',
                     'ingreso_nompen', 'ind',
                     'ingreso_nomina', 'ingreso_segurida_social', 'genero',
                     'estado_civil', 'nivel_academico', 'tipo_vivienda',
                     'tenencia_tc', 'cat_ingreso'
                    ]].values

x_test.shape

(281666, 18)

In [ ]:
y_predict = reg.predict(x_test)

In [ ]:
y_test = pd.DataFrame(y_predict)
y_test.columns = ['gasto_familiar']
result = pd.concat([df_base_num, y_test],axis=1)
final = result.loc[:, ['id_registro', 'gasto_familiar']]
final.head()

    id_registro  gasto_familiar
0  12154#201902    3.760235e+05
1    374#201902    1.607585e+05
2   7365#201902    6.262489e+04
3  16314#201902    5.418642e+05
4  19374#201902    1.071026e+06

In [ ]:
final.to_csv('final1.csv', index = False)

In [ ]:
# Tomar solo las columnas numericas

num = (df.dtypes == float) | (df.dtypes == int)
num_cols = [c for c in num.index if num[c]]
df_num = df[num_cols]

,periodo,id_cli,fecha_nacimiento,edad,genero,estado_civil,nivel_academico,tipo_vivienda,ult_actual,categoria,...,cuota_tc_mdo,saldo_no_rot_mdo,cuota_libranza_sf,cant_oblig_tot_sf,cant_cast_ult_12m_sr,ind,pol_centr_ext,ingreso_nomina,ingreso_segurida_social,gasto_familiar
0,201908,2089776,19840630,35.058179,2,1,1,1,20180526,1,...,0.0,903000.0,0.0,1.0,0.0,311715.5,0.0,1255032.0,0,232526.0
1,201909,2089776,19840630,35.143053,2,1,1,1,20180526,1,...,0.0,903000.0,0.0,1.0,0.0,311715.5,0.0,1255032.0,0,265900.0
2,201907,2089776,19840630,34.962355,2,1,1,1,20180526,1,...,0.0,903000.0,0.0,1.0,0.0,311306.0,0.0,1255032.0,0,243052.0
3,201903,2089776,19840630,34.639288,2,1,1,1,20180526,1,...,0.0,2433000.0,0.0,1.0,0.0,311306.0,0.0,1172612.0,0,276014.0
4,201911,2089776,19840630,35.307324,2,1,1,1,20180526,1,...,0.0,0.0,0.0,0.0,0.0,677516.0,0.0,1255032.0,0,418866.0

In [ ]:
df_num.shape

(20823626, 47)

In [ ]:
x_train = df_num.iloc[:, 3:46].values
y_train = df_num.loc[:, ['gasto_familiar']].values

In [ ]:
reg = LinearRegression()
reg.fit(x_train, y_train)

LinearRegression()

In [ ]:
# Primero las columnas numericas

num_base = (df_base.dtypes == float) | (df_base.dtypes == int)
num_cols_base = [c for c in num_base.index if num_base[c]]
df_base_num = df_base[num_cols_base]
df_base_num.head()

,periodo,id_cli,fecha_nacimiento,edad,genero,estado_civil,nivel_academico,tipo_vivienda,ult_actual,categoria,...,saldo_prom3_tdc_mdo,cuota_tc_mdo,saldo_no_rot_mdo,cuota_libranza_sf,cant_oblig_tot_sf,cant_cast_ult_12m_sr,ind,pol_centr_ext,ingreso_nomina,ingreso_segurida_social
0,201902,12154,19430621,75.575633,2,0.0,3,3.0,20180525,1,...,0.0,0.0,262000.0,0.0,1.0,0.0,6.412382e+06,1.0,0.0,0
1,201902,374,19810909,37.355236,1,0.0,4,0.0,20170520,1,...,0.0,0.0,0.0,0.0,1.0,0.0,1.323586e+05,0.0,0.0,0
2,201902,7365,19810311,37.853525,1,0.0,4,4.0,20180525,1,...,261500.0,35000.0,0.0,0.0,1.0,0.0,1.394262e+06,0.0,0.0,0
3,201902,16314,19781030,40.216290,1,0.0,2,1.0,20180912,1,...,0.0,0.0,8323000.0,0.0,0.0,44.0,3.483775e+06,8.0,0.0,0
4,201902,19374,19790903,39.373032,1,0.0,5,2.0,20181123,3,...,1902500.0,1176000.0,0.0,0.0,12.0,0.0,5.554769e+07,0.0,0.0,0

In [ ]:
df_base_num['cant_oblig_tot_sf'] = df_base_num['cant_oblig_tot_sf'].replace(np.nan, 0, regex=True)
df_base_num['cant_cast_ult_12m_sr'] = df_base_num['cant_cast_ult_12m_sr'].replace(np.nan, 0, regex=True)
df_base_num['pol_centr_ext'] = df_base_num['pol_centr_ext'].replace(np.nan, 0, regex=True)
df_base_num['cuota_cred_hipot'] = df_base_num['cuota_cred_hipot'].replace(np.nan, 0, regex=True)
df_base_num['cant_mora_30_tdc_ult_3m_sf'] = df_base_num['cant_mora_30_tdc_ult_3m_sf'].replace(np.nan, 0, regex=True)
df_base_num['cant_mora_30_consum_ult_3m_sf'] = df_base_num['cant_mora_30_consum_ult_3m_sf'].replace(np.nan, 0, regex=True)

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
pd.set_option('display.max_columns', 65)
df_base_num.notnull().apply(pd.Series.value_counts)

,periodo,id_cli,fecha_nacimiento,edad,genero,estado_civil,nivel_academico,tipo_vivienda,ult_actual,categoria,codigo_ciiu,mora_max,cant_moras_30_ult_12_meses,cant_moras_60_ult_12_meses,cant_moras_90_ult_12_meses,cupo_total_tc,tenencia_tc,cuota_tc_bancolombia,nro_tot_cuentas,ctas_activas,ctas_embargadas,cuota_cred_hipot,mediana_nom3,mediana_pen3,ingreso_nompen,cat_ingreso,ingreso_final,cant_mora_30_tdc_ult_3m_sf,cant_mora_30_consum_ult_3m_sf,cuota_de_vivienda,cuota_de_consumo,cuota_rotativos,cuota_tarjeta_de_credito,cuota_de_sector_solidario,cuota_sector_real_comercio,cupo_tc_mdo,saldo_prom3_tdc_mdo,cuota_tc_mdo,saldo_no_rot_mdo,cuota_libranza_sf,cant_oblig_tot_sf,cant_cast_ult_12m_sr,ind,pol_centr_ext,ingreso_nomina,ingreso_segurida_social
True,281666,281666,281666,281666,281666,281666,281666,281666,281666,281666,281666,281666,281666,281666,281666,281666,281666,281666,281666,281666,281666,281666,281666,281666,281666,281666,281666,281666,281666,281666,281666,281666,281666,281666,281666,281666,281666,281666,281666,281666,281666,281666,281666,281666,281666,281666

In [ ]:
x_test = df_base_num.iloc[:, 3:46].values
y_predict = reg.predict(x_test)

In [ ]:
df_base_num = pd.concat([df_base_num, df_base['id_registro']],axis=1)

In [ ]:
y_test = pd.DataFrame(y_predict)
y_test.columns = ['gasto_familiar']
result = pd.concat([df_base_num, y_test],axis=1)
final = result.loc[:, ['id_registro', 'gasto_familiar']]
final.head()

    id_registro  gasto_familiar
0  12154#201902    6.673383e+05
1    374#201902    6.723541e+05
2   7365#201902    2.843815e+05
3  16314#201902    4.392325e+05
4  19374#201902    3.251752e+06

In [ ]:
final.to_csv('final3.csv', index = False)

In [ ]:
#

In [ ]:
# REEMPLAZAR
df_base = df_base.replace({"F": 1, "M": 2})
df_base['genero'].unique()

In [ ]:
df.Age = df.Age.replace({"0-17": 17, "+55": 60})

In [ ]:
x_train = df_num.loc[:, ['periodo', 'id_cli', 'edad', 'categoria', 'mora_max',
                         'nro_tot_cuentas', 'ctas_activas', 'ctas_embargadas', 
                        'ingreso_nompen', 'cant_cast_ult_12m_sr', 'ind',
                         'ingreso_nomina', 'ingreso_segurida_social'
                        ]].values

# y = gasto_familiar
y_train = df_num.loc[:, ['gasto_familiar']].values

x_train.shape

(20823707, 13)

In [ ]:
df_base = pd.read_csv('dt2020_base_evaluar_semicolon.csv', sep=';', low_memory=False)
df_base.shape

(281666, 65)

In [ ]:
# Eliminar y convertir las filas que contienen los \\N

# Primero convertir los \\N a NaN
df_base['categoria'] = pd.to_numeric(df_base['categoria'], errors='coerce')
df_base['mora_max'] = pd.to_numeric(df_base['mora_max'], errors='coerce')
df_base['cant_moras_30_ult_12_meses'] = pd.to_numeric(df_base['cant_moras_30_ult_12_meses'], errors='coerce')
df_base['cant_moras_60_ult_12_meses'] = pd.to_numeric(df_base['cant_moras_60_ult_12_meses'], errors='coerce')
df_base['cant_moras_90_ult_12_meses'] = pd.to_numeric(df_base['cant_moras_90_ult_12_meses'], errors='coerce')
df_base['ingreso_segurida_social'] = pd.to_numeric(df_base['ingreso_segurida_social'], errors='coerce')

In [ ]:
# Convirtiendo los NaN en 0

df_base['categoria'] = df_base['categoria'].replace(np.nan, 0, regex=True)
df_base['mora_max'] = df_base['mora_max'].replace(np.nan, 0, regex=True)
df_base['cant_moras_30_ult_12_meses'] = df_base['cant_moras_30_ult_12_meses'].replace(np.nan, 0, regex=True)
df_base['cant_moras_60_ult_12_meses'] = df_base['cant_moras_60_ult_12_meses'].replace(np.nan, 0, regex=True)
df_base['cant_moras_90_ult_12_meses'] = df_base['cant_moras_90_ult_12_meses'].replace(np.nan, 0, regex=True)
df_base['ingreso_segurida_social'] = df_base['ingreso_segurida_social'].replace(np.nan, 0, regex=True)

df_base.shape

(281666, 65)

In [ ]:
# Convertir de float64 a int64

df_base['categoria'] = df_base['categoria'].astype('int64')
df_base['mora_max'] = df_base['mora_max'].astype('int64')
df_base['cant_moras_30_ult_12_meses'] = df_base['cant_moras_30_ult_12_meses'].astype('int64')
df_base['cant_moras_60_ult_12_meses'] = df_base['cant_moras_60_ult_12_meses'].astype('int64')
df_base['cant_moras_90_ult_12_meses'] = df_base['cant_moras_90_ult_12_meses'].astype('int64')
df_base['ingreso_segurida_social'] = df_base['ingreso_segurida_social'].astype('int64')

df_base.shape

(281666, 65)

In [ ]:
# Primero las columnas numericas

num_base = (df_base.dtypes == float) | (df_base.dtypes == int)
num_cols_base = [c for c in num_base.index if num_base[c]]
df_base_num = df_base[num_cols_base]
df_base_num.shape

(281666, 40)

In [ ]:
df_base_num.isnull().apply(pd.Series.value_counts)

,periodo,id_cli,fecha_nacimiento,edad,ult_actual,categoria,codigo_ciiu,mora_max,cant_moras_30_ult_12_meses,cant_moras_60_ult_12_meses,...,saldo_prom3_tdc_mdo,cuota_tc_mdo,saldo_no_rot_mdo,cuota_libranza_sf,cant_oblig_tot_sf,cant_cast_ult_12m_sr,ind,pol_centr_ext,ingreso_nomina,ingreso_segurida_social
False,281666.0,281666.0,281666.0,281666.0,281666.0,281666.0,281666.0,281666.0,281666.0,281666.0,...,281666.0,281666.0,281666.0,281666.0,257536,257536,281649,259027,95973,281666.0
True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,24130,24130,17,22639,185693,NaN

In [ ]:
# Reemplazando valores nulos en 0.0
df_base_num['cuota_cred_hipot'] = df_base_num['cuota_cred_hipot'].replace(np.nan,0)
df_base_num['cant_mora_30_tdc_ult_3m_sf'] = df_base_num['cant_mora_30_tdc_ult_3m_sf'].replace(np.nan,0)
df_base_num['cant_mora_30_consum_ult_3m_sf'] = df_base_num['cant_mora_30_consum_ult_3m_sf'].replace(np.nan,0)
df_base_num['cant_oblig_tot_sf'] = df_base_num['cant_oblig_tot_sf'].replace(np.nan,0)
df_base_num['cant_cast_ult_12m_sr'] = df_base_num['cant_cast_ult_12m_sr'].replace(np.nan,0)
df_base_num['pol_centr_ext'] = df_base_num['pol_centr_ext'].replace(np.nan,0)
df_base_num['ingreso_nomina'] = df_base_num['ingreso_nomina'].replace(np.nan,0)

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
df_base_num['ind'] = df_base_num['ind'].replace(np.nan,0)
df_base_num.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 281666 entries, 0 to 281665
Data columns (total 40 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   periodo                        281666 non-null  int64
 1   id_cli                         281666 non-null  int64
 2   fecha_nacimiento               281666 non-null  int64
 3   edad                           281666 non-null  float64
 4   ult_actual                     281666 non-null  int64
 5   categoria                      281666 non-null  int64
 6   codigo_ciiu                    281666 non-null  int64
 7   mora_max                       281666 non-null  int64
 8   cant_moras_30_ult_12_meses     281666 non-null  int64
 9   cant_moras_60_ult_12_meses     281666 non-null  int64
 10  cant_moras_90_ult_12_meses     281666 non-null  int64
 11  cupo_total_tc                  281666 non-null  float64
 12  cuota_tc_bancolombia           281666 non-null  float64
 13  nro_tot_cuentas                281666 non-null  int64
 14  ctas_activas                   281666 non-null  int64
 15  ctas_embargadas                281666 non-null  int64
 16  cuota_cred_hipot               281666 non-null  float64
 17  mediana_nom3                   281666 non-null  float64
 18  mediana_pen3                   281666 non-null  float64
 19  ingreso_nompen                 281666 non-null  float64
 20  ingreso_final                  281666 non-null  float64
 21  cant_mora_30_tdc_ult_3m_sf     281666 non-null  float64
 22  cant_mora_30_consum_ult_3m_sf  281666 non-null  float64
 23  cuota_de_vivienda              281666 non-null  float64
 24  cuota_de_consumo               281666 non-null  float64
 25  cuota_rotativos                281666 non-null  float64
 26  cuota_tarjeta_de_credito       281666 non-null  float64
 27  cuota_de_sector_solidario      281666 non-null  float64
 28  cuota_sector_real_comercio     281666 non-null  float64
 29  cupo_tc_mdo                    281666 non-null  float64
 30  saldo_prom3_tdc_mdo            281666 non-null  float64
 31  cuota_tc_mdo                   281666 non-null  float64
 32  saldo_no_rot_mdo               281666 non-null  float64
 33  cuota_libranza_sf              281666 non-null  float64
 34  cant_oblig_tot_sf              281666 non-null  float64
 35  cant_cast_ult_12m_sr           281666 non-null  float64
 36  ind                            281666 non-null  float64
 37  pol_centr_ext                  281666 non-null  float64
 38  ingreso_nomina                 281666 non-null  float64
 39  ingreso_segurida_social        281666 non-null  int64
dtypes: float64(26), int64(14)
memory usage: 86.0 MB

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
df_base_num.isnull().apply(pd.Series.value_counts)

,periodo,id_cli,fecha_nacimiento,edad,ult_actual,categoria,codigo_ciiu,mora_max,cant_moras_30_ult_12_meses,cant_moras_60_ult_12_meses,...,saldo_prom3_tdc_mdo,cuota_tc_mdo,saldo_no_rot_mdo,cuota_libranza_sf,cant_oblig_tot_sf,cant_cast_ult_12m_sr,ind,pol_centr_ext,ingreso_nomina,ingreso_segurida_social
False,281666,281666,281666,281666,281666,281666,281666,281666,281666,281666,...,281666,281666,281666,281666,281666,281666,281666,281666,281666,281666

In [ ]:
df_base_num = pd.concat([df_base_num, df_base['id_registro']],axis=1)
df_base_num.head()

,periodo,id_cli,fecha_nacimiento,edad,ult_actual,categoria,codigo_ciiu,mora_max,cant_moras_30_ult_12_meses,cant_moras_60_ult_12_meses,...,cuota_tc_mdo,saldo_no_rot_mdo,cuota_libranza_sf,cant_oblig_tot_sf,cant_cast_ult_12m_sr,ind,pol_centr_ext,ingreso_nomina,ingreso_segurida_social,id_registro
0,201902,12154,19430621,75.575633,20180525,1,10,0,0,0,...,0.0,262000.0,0.0,1.0,0.0,6.412382e+06,1.0,0.0,0,12154#201902
1,201902,374,19810909,37.355236,20170520,1,10,0,0,0,...,0.0,0.0,0.0,1.0,0.0,1.323586e+05,0.0,0.0,0,374#201902
2,201902,7365,19810311,37.853525,20180525,1,10,1,0,0,...,35000.0,0.0,0.0,1.0,0.0,1.394262e+06,0.0,0.0,0,7365#201902
3,201902,16314,19781030,40.216290,20180912,1,10,0,0,0,...,0.0,8323000.0,0.0,0.0,44.0,3.483775e+06,8.0,0.0,0,16314#201902
4,201902,19374,19790903,39.373032,20181123,3,8699,0,0,0,...,1176000.0,0.0,0.0,12.0,0.0,5.554769e+07,0.0,0.0,0,19374#201902

In [ ]:
df_base_num.shape

(281666, 41)

In [ ]:
x_test = df_base_num.loc[:, ['periodo', 'id_cli', 'edad', 'categoria', 'mora_max',
                             'nro_tot_cuentas', 'ctas_activas', 'ctas_embargadas', 
                             'ingreso_nompen', 'cant_cast_ult_12m_sr', 'ind', 
                             'ingreso_nomina', 'ingreso_segurida_social'
                            ]].values

In [ ]:
y_predict = reg.predict(x_test)

In [ ]:
type(y_predict)

numpy.ndarray

In [ ]:
# Creando DataFrame con respuestas

y_test = pd.DataFrame(y_predict)
y_test.columns = ['gasto_familiar']

y_test.shape

(281666, 1)

In [ ]:
result = pd.concat([df_base_num, y_test],axis=1)
result.shape

(281666, 42)

In [ ]:
final = result.loc[:, ['id_registro', 'gasto_familiar']]
final.shape

(281666, 2)

In [ ]:
final.head()

    id_registro  gasto_familiar
0  12154#201902    8.266238e+05
1    374#201902    5.810985e+05
2   7365#201902    5.874233e+05
3  16314#201902    7.381682e+05
4  19374#201902    1.564337e+06

In [ ]:
final.to_csv('final.csv', index = False)

array(['NO', 'SI'], dtype=object)

array(['NOM', '\\N', 'PEN', 'NOM PEN'], dtype=object)

In [ ]:
df['tiene_ctas_activas'].unique()

array(['X', '\\N'], dtype=object)

In [ ]:
# Me determina cuales puedo convertir a numero para analizar

(df == '\\N').apply(pd.Series.value_counts)

,periodo,id_cli,fecha_nacimiento,edad,genero,estado_civil,nivel_academico,profesion,ocupacion,tipo_vivienda,...,cuota_libranza_sf,cant_oblig_tot_sf,cant_cast_ult_12m_sr,ind,rep_calif_cred,pol_centr_ext,convenio_lib,ingreso_nomina,ingreso_segurida_social,gasto_familiar
False,20823707.0,20823707.0,20823707.0,20823707.0,20823707.0,20730074,20823707.0,14734502,20814309,10899689,...,20823707.0,20823707.0,20823707.0,20823707.0,20823707.0,20823707.0,3042999,20823707.0,20823707.0,20823707.0
True,NaN,NaN,NaN,NaN,NaN,93633,NaN,6089205,9398,9924018,...,NaN,NaN,NaN,NaN,NaN,NaN,17780708,NaN,NaN,NaN